#encabezado{
    position: absolute;
    top:0;
    left:0;
    height:8%;
    width: 100%;
    background-color: blue;
    color: white;
}

#encabezado h1{
    display: inline;
}
#menu{
    position: absolute;
    top:8%;
    left:0;
    height:4%;
    width: 100%;
    background-color: black;
    color: white;
}
#menu a:hover {
    background-color: red;
    color:white;
}
#barralateral{
    position: absolute;
    top:12%;
    left:0%;
    padding:10px;
    height:81%;
    width: 20%;
    background-color: #00FFA0;
    
}

#contenido{
   position: absolute;
    top:12%;
    left:20%;
    padding:10px;
    height:81%;
    width: 80%;
    background-color: whitesmoke;
    overflow: auto;
}
#piepagina{
    position: absolute;
    bottom:0%;
    left:0%;
    height:4%;
    width: 100%;
    background-color: #AAB0A0;
    text-align: center;
}

#encabezadoTabla{
    background-color: coral;
    text-align: center;
    Color:blue;
}
#TablaDetalle tr:nth-child(even){
    background-color: blue;
    color: white;
}
#TablaDetalle tr:nth-child(odd){
    background-color: greenyellow;
    color: black;
}
