*{
    margin:0
        box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header{
    background-color: black;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 20px;
    line-height: 50px;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
}
.nav-menu-link:hover{
    font-size: 20px;
    background-color: #024070;
    transition: 0.5s;
}
#contenido{
   position: absolute;
    top:9%;
    left:0%;
    padding:10px;
    height:81%;
    width: 80%;
    background-color: whitesmoke;
    overflow: auto;
}
#barralateral{
    position: absolute;
    top:9%;
    left:81%;
    padding:45px;
    height:81%;
    width: 14%;
    background-color: #023D66;
    
}
#piepagina{
    position: absolute;
    bottom:0%;
    left:0%;
    height:4%;
    width: 100%;
    background-color: #AAB0A0;
    text-align: center;
}
